<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/plantilla :: head">
    <link rel="stylesheet" href="estilos-pesonalizados.css">
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
<body>
<header th:replace="layout/plantilla :: header1"></header>
    <h1>Datos de la persona</h1>

    <br>
    <form th:action="@{/guardar}" method="POST" th:object="${padron}">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" th:field="*{nombre}"/>

        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" th:field="*{apellido}"/>

        <label for="tipoDocumento">DNI Tipo:</label>
        <input type="number" name="tipoDocumento" th:field="*{tipoDocumento.idDoc}"/>
<!--&lt;!&ndash;        <select class="form-select" aria-label="Default select example" >&ndash;&gt;-->
<!--            <option name=tipoDocumento" selected>Open this select menu</option>-->
<!--            <option th:each="tipoDocumento: ${tipoDocumento}" th:value="${tipoDocumento.idDoc}" th:text="${tipoDocumento.detalle}">Texto del Padron</option>-->

<!--        </select>-->
        <label for="dniNumero">DNI Numero:</label>
        <input type="text" name="dniNumero" th:field="*{dniNumero}"/>

        <label for="mesas">Mesas:</label>
        <input type="text" name="mesas" th:field="*{mesas}"/>
        <input type="submit" name="guardar" value="guardar"/>



    </form>

<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>