<!doctype html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
       
    </head>
    <body>
        
         <header th:replace="layout/plantilla :: header"/>

        <a th:href="@{/agregar}">Crear Persona</a>
        <a th:href="@{/secciones}">Ver Secciones</a>
       <a th:href="@{/mesas}">Mesas</a> 
<!--    <div  th:if="${padrones} != null and !padrones.empty}">-->
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI Tipo</th>
                <th>N° Documento</th>
                <th>Mesa</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            
            <tr th:each="padron: ${padrones}">
                <td th:text="${padron.nombre}">Nombre</td>
                <td th:text="${padron.apellido}">Apellido</td>
                <td  th:text="${padron.dni_tipo}">DNI_Tipo</td> 
                <td th:text="${padron.dni_numero}">DNI_Numero</td>    
                <td th:text="${padron.mesas_idmesas}">Mesa</td>   
                <td><a th:href="@{/editar(idpadron=${padron.idpadron})} ">Editar</td>
                   <td><a th:href="@{/eliminar(idpadron=${padron.idpadron})} ">Eliminar</td>
            </tr>
        </table>
        </div>
        
            <div  th:if="${padrones == null and padrones.empty}">
                La lista de personas esta vacia
        </div>
        <br/>
           <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
