<!doctype html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">

    </head>
    <body>

        <header th:replace="layout/plantilla :: header"/>



        <table border="1">
            <tr>
                <th>ID Seccion</th>
            
                <th>Seccion</th>

            </tr>

            <tr th:each="secciones: ${secciones1}">
                <th>ID Seccion</th>
                <td th:text="${secciones.idsecciones}">ID</td>
                <td th:text="${secciones.seccion}">Seccion</td>
                
                <!--                <td><a th:href="@{/editar(idpadron=${padron.idpadron})} ">Editar</td>
                                   <td><a th:href="@{/eliminar(idpadron=${padron.idpadron})} ">Eliminar</td>-->
            </tr>
        </table>
    </div>
    <!--        
                <div  th:if="${secciones == null and secciones.empty}">
                    La lista de personas esta vacia-->
</div>
<br/>
<footer th:replace="layout/plantilla :: footer"/>
</body>
</html>
